node_modules
npm-debug.log*
.git
.github
.husky
.worktrees
dist
coverage
*.tsbuildinfo
.env
.template.env
docs
tests
*.md
.prettier*
.eslint*
jest*.ts
tsconfig.tests.json
tsconfig.integration.json
sonar-project.properties
helm
