# Conversation / Numbers tools related environment variables for authentication
PROJECT_ID=
KEY_ID=
KEY_SECRET=
# Conversation specific variables
CONVERSATION_REGION=
DEFAULT_SMS_ORIGINATOR=
GEOCODING_API_KEY=
# Verification / Voice tools related environment variables for authentication
APPLICATION_KEY=
APPLICATION_SECRET=
# Voice specific variable
CALLING_LINE_IDENTIFICATION=
# Mailgun tools related environment variables
MAILGUN_DOMAIN=
MAILGUN_API_KEY=
MAILGUN_SENDER_ADDRESS=
